<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <xhtmlConformance mode="Strict"/>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6.2"/>
    <compilation debug="false" strict="true" explicit="true" targetFramework="4.6.2"/>
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
    <pages enableSessionState="false" enableViewState="false" enableViewStateMac="true" validateRequest="true">
      <namespaces>
        <add namespace="System.Net.Mail" />
        <add namespace="System.Configuration" />
      </namespaces>
    </pages>
  </system.web>
  <appSettings>
    <add key="EmailAccountName" value="ancillaryapps@stcc.edu" />
    <add key="EmailAccountPassword" value="STCCCanSuckIt" />
    <add key="ToRecipient" value="wdc@stcc.edu" />
    <add key="CCRecipient" value="" />
    <add key="BCRecipient" value="gzayas@stcc.edu;emlevy@stcc.edu;johnson@stcc.edu" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>